
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body{
  font-family: $fontFamily;
  font-size: $baseFontSize;
  line-height: 160%;
  color: $baseFontColor;
  overflow-x: hidden;
  font-weight: 400;
  background: $bodyBGColor;
  background: #000;
  text-align: left;
}

// Page title
.region-page-title{
	h1{
		margin: 30px 0;
		color: #fff;
	}
}

// Footer widget
.footerwidget{
	background: #108441;
    color: #86b59a;
 	padding: 20px 0;
	border-top: 1px solid #f7f7f7;

	h2.title{
		color: #fff;
	}

	.left{
	  float: left;
	  margin: 10px 10px 0 0;
	}
}

.copyright{
	color: #999;
    text-align: center;
}


// Google map
.map-and-address{
	h2.title{
		display: none;
	}
}

.google_map{

	p, .block{ margin: 0; }

	iframe{ display: block;	}
}

// Social media
.footer-menu{
	margin: 0;
    border: 0;
    color: #fff;
    background-size: cover;
	padding: 80px 0;
}

.social-media{
	padding: 0;
	margin: 0;

	a {
		line-height: 100%;
		font-size: 1em;
		display: inline-block;
		padding: 4px 6px;

		&:hover{
			color: $linkColorHover;
		}
	}
}

// Form
input, button, select, textarea{
	padding: 10px;
	border: 1px solid #e3e3e3;
}

.contact-message-form label{
	display: block;
}

.btn, 
.node-readmore a,
.flexslider .more-link,
input[type="submit"]{
 	@include globalButton();
}

.btn:hover, 
.node-readmore a:hover,
.flexslider .more-link:hover,
input[type="submit"]:hover{
	@include globalButtonHover();
}

// Comment
.comment-wrap{
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #F5F5F5;

  	.author-details{
	  float: left;
	  width: 20%;
	}

	.author-comments{
		padding-left: 5px;
		float: left;
		width: 80%;

		h3{ margin-top: 10px; }

		p{ margin-bottom: 10px;	}
	}
	
}

.comment-submitted{
	padding: 0 0 10px 0;
    line-height: 100%;
    font-size: 0.7em;
}

// links Inline
ul.links.inline li{
	display: inline-block;
	padding-right: 10px;
}

// Sidebar block
.sidebar{
	background: #fff;
    border: 1px solid #e8e8e8;
    padding: 20px;

	.region {

		h2.title{
			padding: 5px 0;
			margin: 0;
		}

		.content{ padding: 10px 0; }
	}
}

.region-content{
    min-height: 300px;
}

.path-frontpage{
	.region-content{
	    min-height: auto;
	}
}

// Markup generated by Form API.
.form-item,
.form-actions {
	margin-top: 1em;
	margin-bottom: 1em;
}

tr.odd .form-item,
tr.even .form-item {
	margin-top: 0;
	margin-bottom: 0;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
	font-size: 0.70em;
	line-height: 150%;
}

label.option {
	display: inline;
	font-weight: normal;
}

.form-composite > legend,
.label {
	display:inline;
	font-size: inherit;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.form-checkboxes .form-item,
.form-radios .form-item {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.marker {
	color: #e00;
}

abbr.tabledrag-changed,
abbr.ajax-changed {
	border-bottom: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
	border: 2px solid red;
}

.owl-theme .owl-dots .owl-dot span {
    background: #b5b5b5;
    height: 7px;
    width: 7px;
}

// Pager
.pager{
	text-align: center;

	.pager__items{
		padding: 0;
		margin: 0;

		.pager__item{
			display: inline-block;
		
			a{
				padding: 4px 10px;
				background: $linkColor;
				color: #000;
				font-size: 1.2em;
			}

			a:hover,
			&.is-active{
				color: #fff;
				background: $linkColorHover;
			}
		}
	}
}